/* General Styling */
.recipe-management-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('../images/admin_dashboard.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    background-color: #2C6485;
}
.navbar-brand {
    color: #fff;
}

.recipe-management-content {
    flex-grow: 1;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.recipe-management-header {
    background-color: #2C6485;
    padding: 1.5rem;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 2rem;
}

.table {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.table th, .table td {
    vertical-align: middle;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.card-header {
    background-color: #2C6485;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body {
    padding: 2rem;
}

.recipe-management-table .badge {
    font-size: 0.9rem;
}

.recipe-management-table button {
    margin-right: 0.5rem;
}

/* Modal */
.modal-content {
    background-color: #2C6485;
    color: #fff;
}

.modal-header .btn-close {
    background-color: #fff;
}

/* Pagination */
.pagination .page-link {
    background-color: #2C6485;
    color: #fff;
}
.pagination .page-item.active .page-link {
    background-color: #5e548e;
}

/* Footer */
.footer-wrapper {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #2C6485;
    color: #fff;
}

